*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:'Inter',sans-serif;
  background:#060b14;
  color:white;
  overflow-x:hidden;
}

body::before{
  content:'';

  position:fixed;
  inset:0;

  background-image:
  radial-gradient(
  rgba(255,255,255,0.03) 1px,
  transparent 1px
  );

  background-size:3px 3px;

  pointer-events:none;

  opacity:0.15;

  z-index:9999;
}

img{
  width:100%;
  display:block;
}

a{
  text-decoration:none;
}

button{
  cursor:pointer;
  font-family:'Inter',sans-serif;
}

/* NAVBAR */

.navbar{
  width:100%;
  padding:22px 7%;
  display:flex;
  justify-content:space-between;
  align-items:center;

  position:sticky;
  top:0;
  z-index:999;

  background:rgba(6,11,20,0.85);
  backdrop-filter:blur(12px);

  border-bottom:1px solid rgba(255,255,255,0.05);
}

.logo h2{
  font-size:30px;
  letter-spacing:-1px;
  color:#ffffff;
}

.logo span{
  color:#7d8ca3;
}

nav{
  display:flex;
  gap:40px;
}

nav a{
  color:#d9e4f2;
  font-weight:600;
  transition:0.3s;
}

nav a:hover{
  color:#4da3ff;
}

.nav-btn{
  background:#1c2c45;
  color:white;
  border:none;

  padding:16px 32px;
  border-radius:14px;

  font-weight:700;

  transition:0.3s;
}

.nav-btn:hover{
  background:#4da3ff;
}

/* HERO */

.hero{
  min-height:100vh;

  padding:140px 7% 120px;

  display:flex;
  justify-content:center;
  align-items:center;

  text-align:center;

  position:relative;

  background:
linear-gradient(
to bottom,
#020817,
#020b1f
);

overflow:hidden;
}

.hero-content{
  max-width:1200px;
  margin:auto;
  position:relative;
  z-index:2;
}

.hero p{
  margin-left:auto;
  margin-right:auto;
}

.hero-buttons{
  justify-content:center;
}

.hero-stats{
  justify-content:center;
}
.hero::after{
  content:'';

  width:900px;
  height:900px;

  position:absolute;

  top:-250px;
  right:-250px;

  background:
  radial-gradient(
  circle,
  rgba(59,130,246,0.25),
  transparent 70%
  );

  filter:blur(80px);
}

.hero::before{
  content:'';

  width:700px;
  height:700px;

  background:#0b4ea233;

  position:absolute;

  top:-200px;
  right:-100px;

  filter:blur(120px);

  border-radius:50%;
}

.hero-tag{
  display:inline-block;

  padding:12px 20px;

  border:1px solid rgba(255,255,255,0.08);

  border-radius:50px;

  color:#4da3ff;

  font-size:13px;
  font-weight:700;

  margin-bottom:28px;
}

.hero h1{
  font-size:88px;
  line-height:0.9;

  letter-spacing:-5px;

  font-weight:900;

  max-width:900px;

  margin:auto auto 35px;
}

.hero h1 span{
  background:linear-gradient(
  135deg,
  #60a5fa,
  #2563eb
  );

  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}

.hero p{
  color:#94a3b8;

  font-size:20px;
  line-height:1.8;
    opacity:0.9;
  max-width:850px;

  margin:0 auto 50px;

  font-weight:400;
}

.hero-buttons{
  display:flex;
  gap:18px;

  margin-bottom:50px;
}

.primary-btn{
  background:
  linear-gradient(
  135deg,
  #3b82f6,
  #2563eb
  );

  color:white;

  border:none;

  padding:20px 42px;

  border-radius:18px;

  font-size:15px;
  font-weight:700;

  letter-spacing:0.3px;

  box-shadow:
  0 10px 30px rgba(37,99,235,0.25);

  transition:0.35s ease;
}

.primary-btn:hover{
  transform:
  translateY(-5px)
  scale(1.02);

  box-shadow:
  0 20px 50px rgba(37,99,235,0.35);
}

.secondary-btn{
  background:transparent;

  border:1px solid rgba(255,255,255,0.08);

  color:white;

  padding:20px 42px;

  border-radius:16px;

  font-size:16px;
  font-weight:700;

  transition:0.35s ease;
}

.secondary-btn:hover{
  border-color:#3b82f6;
  color:#60a5fa;
}

.hero-stats{
  margin-top:20px;
  gap:70px;
}

.stat-box{
  position:relative;
}

.stat-box::after{
  content:'';

  width:1px;
  height:45px;

  background:rgba(255,255,255,0.08);

  position:absolute;

  right:-35px;
  top:5px;
}

.stat-box h3{
  font-size:52px;
  font-weight:800;
  margin-bottom:8px;
}

.stat-box span{
  font-size:15px;
  letter-spacing:1px;
  text-transform:uppercase;
}

.stat-box:last-child::after{
  display:none;
}

/* HERO RIGHT */

.hero-preview{
  position:relative;
}

.browser-window{
  width:100%;

  background:#0d1524;

  border-radius:26px;

  overflow:hidden;



  box-shadow:
  0 20px 60px rgba(0,0,0,0.35),
  0 40px 100px rgba(77,163,255,0.08);
}

.browser-top{
  height:58px;

  background:#0f1a2d;

  display:flex;
  justify-content:space-between;
  align-items:center;

  padding:0 22px;

  border-bottom:1px solid rgba(255,255,255,0.05);
}

.browser-dots{
  display:flex;
  gap:8px;
}

.browser-dots span{
  width:12px;
  height:12px;

  border-radius:50%;
}

.browser-dots span:nth-child(1){
  background:#ff5f57;
}

.browser-dots span:nth-child(2){
  background:#febc2e;
}

.browser-dots span:nth-child(3){
  background:#28c840;
}

.browser-url{
  color:#7f92ad;
  font-size:14px;
  font-weight:600;
}

.browser-body{
  width:100%;
  height:560px;

  overflow:hidden;

  position:relative;
}

.browser-body iframe{
  width:1400px;
  height:1200px;

  border:none;

  position:absolute;

  top:-10px;
  left:-25px;

  transform:scale(0.45);
  transform-origin:top left;
}

/* MARQUEE */

.marquee{
  width:100%;

  overflow:hidden;

  padding:40px 0 90px;
}

.marquee-track{
  display:flex;
  gap:100px;

  width:max-content;

  animation:marquee 18s linear infinite;
}

.marquee-track span{
  color:#4da3ff;

  font-size:18px;
  font-weight:700;

  letter-spacing:1px;
}

@keyframes marquee{

  0%{
    transform:translateX(0);
  }

  100%{
    transform:translateX(-50%);
  }

}

/* SECTIONS */

.projects,
.content-section,
.contact-section{
  padding:0 7% 120px;
}

.section-header{
  display:flex;
  justify-content:space-between;
  align-items:end;

  margin-bottom:35px;
}

.section-header span{
  color:#4da3ff;

  font-size:13px;
  font-weight:700;

  letter-spacing:2px;
}

.section-header h2{
  font-size:58px;

  margin-top:10px;
}

.section-header a{
  color:white;
}

/* PROJECTS */

.projects-grid{
  display:grid;
  grid-template-columns:1.4fr 1fr;
  gap:24px;
}

.project-card{
  position:relative;
   transition:0.45s ease;

  overflow:hidden;

  border-radius:28px;

  background:#0d1524;

  min-height:340px;

}

.project-card:hover{
  transform:translateY(-10px);
}

.project-card.large{
  grid-row:span 2;

  min-height:700px;
}

.project-card img{
  width:100%;
  height:100%;

  object-fit:cover;

  transition:0.5s;
}

.project-card:hover img{
  transform:scale(1.05);
}

.project-overlay{
  position:absolute;
  inset:0;

  background:linear-gradient(to top, rgba(0,0,0,0.7), transparent);

  display:flex;
  flex-direction:column;
  justify-content:end;

  padding:30px;
}

.project-overlay h3{
  font-size:32px;
}

.project-overlay p{
  color:#a9bdd8;
}

/* LIVE PROJECT */

.project-browser{
  width:100%;
  height:100%;
}

.project-top{
  height:58px;

  background:#101a2c;

  display:flex;
  justify-content:space-between;
  align-items:center;

  padding:0 22px;

  border-bottom:1px solid rgba(255,255,255,0.05);
}

.project-body{
  width:100%;
  height:100%;

  overflow:hidden;

  position:relative;
}

.project-body iframe{
  width:1400px;
  height:1200px;

  border:none;

  position:absolute;

  top:-20px;
  left:-20px;

  transform:scale(0.5);
  transform-origin:top left;
}

/* CONTENT */

.content-section{
  display:grid;
  grid-template-columns:1fr 1fr;

  gap:24px;
}

.content-box{
  background:#0d1524;

  border-radius:28px;

  padding:30px;

  border:1px solid rgba(255,255,255,0.05);
}

.flyers-grid{
  display:grid;
  grid-template-columns:repeat(2,1fr);

  gap:16px;
}

.flyers-grid img,
.social-card img{
  border-radius:20px;

  cursor:pointer;

  transition:0.4s;
}

.flyers-grid img:hover,
.social-card img:hover{
  transform:translateY(-5px);
}

.social-grid{
  display:grid;
  grid-template-columns:1fr 1fr;

  gap:16px;
}

/* CONTACT */

.contact-section{
  display:grid;
  grid-template-columns:1fr 1fr;

  gap:40px;
}

.contact-left span{
  color:#3b82f6;

  font-size:13px;
  font-weight:700;
}

.contact-left h2{
  font-size:58px;

  line-height:1;

  margin:20px 0;
}

.contact-left p{
  color:#9fb0c7;

  line-height:1.9;
}

.contact-form{
  display:flex;
  flex-direction:column;

  gap:18px;
}

.contact-form input,
.contact-form textarea{
  width:100%;

  background:#0d1524;

  border:1px solid rgba(255,255,255,0.08);

  color:white;

  padding:18px 20px;

  border-radius:16px;

  outline:none;
}

.contact-form textarea{
  height:180px;

  resize:none;
}

.contact-form button{
  background:#4da3ff;
  color:white;

  border:none;

  padding:18px;

  border-radius:16px;

  font-weight:700;
}

/* FOOTER */

footer{
  padding:50px 7%;

  border-top:1px solid rgba(255,255,255,0.05);

  text-align:center;
}

footer h2{
  margin-bottom:10px;
}

/* IMAGE PREVIEW */

.image-preview{
  position:fixed;
  inset:0;

  background:rgba(0,0,0,0.88);

  display:flex;
  justify-content:center;
  align-items:center;

  opacity:0;
  visibility:hidden;

  transition:0.3s;

  z-index:99999;
}

.image-preview.active{
  opacity:1;
  visibility:visible;
}

.image-preview img{
  max-width:min(650px,90%);
  max-height:85vh;

  border-radius:20px;
}

.close-preview{
  position:absolute;

  top:25px;
  right:40px;

  font-size:60px;

  cursor:pointer;
}

/* RESPONSIVE */

@media(max-width:1200px){

  .hero,
  .content-section,
  .contact-section{
    grid-template-columns:1fr;
  }

}

@media(max-width:900px){

  nav{
    display:none;
  }

  .hero h1{
    font-size:56px;
  }

  .projects-grid{
    grid-template-columns:1fr;
  }

}

@media(max-width:600px){

  .hero h1{
    font-size:42px;
  }

  .hero-buttons{
    flex-direction:column;
  }

  .flyers-grid,
  .social-grid{
    grid-template-columns:1fr;
  }

}